<nav class="navbar d-block navbar-light">
    <div class="flex-column ">
        <ul class="list-group"  >
            
            <li class="list-group-item list-group-item-menu 
                list-group-item-color mx-1 fw-bold" 
                routerLinkActive="active2" routerLink="/inicio">
                Sobre Mi 
            </li>
            
            <li class="list-group-item list-group-item-color 
                mt-1 mx-1 fw-bold list-group-item-menu" 
                routerLinkActive="active2" routerLink="/proyectos" >
                Proyectos 
            </li>
            <li class="list-group-item list-group-item-color 
                mt-1 mx-1 fw-bold list-group-item-menu" 
                routerLinkActive="active2" routerLink="/contacto" >
                Contacto 
            </li>
        </ul>

    </div>
  </nav>