<nav class="navbar d-block navbar-light bg-light">
    <div class="container-fluid flex-column align-items-start">
        <ul class="list-group w-100" >
            <li class="list-group-item" routerLinkActive="active" routerLink="/inicio">
                Sobre Mi
            </li>
            <li class="list-group-item" routerLinkActive="active" routerLink="/proyectos" >
                Proyectos
            </li>
            <li class="list-group-item" routerLinkActive="active" routerLink="/contacto" >
                Contacto
            </li>
        </ul>


    </div>
  </nav>