<nav class="navbar d-block navbar-light bg-dark">
    <div class="flex-column ">
        <ul class="list-group"  >
            
            <li class="list-group-item mx-1" routerLinkActive="active" routerLink="/inicio">
                Sobre Mi 
            </li>
            
            <li class="list-group-item mt-1 mx-1" routerLinkActive="active" routerLink="/proyectos" >
                Proyectos 
            </li>
            <li class="list-group-item mt-1 mx-1" routerLinkActive="active" routerLink="/contacto" >
                Contacto 
            </li>
        </ul>

    </div>
  </nav>