<section class="container" >
    <h2 class="text-uppercase" >Mis proyectos</h2>
    <div class="row">
        <div class="col-sm-6 col-12 col-md-4 gap-3 mt-3" *ngFor="let item of arr" >
            <div class="card shadow rounded" >
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-secondary" 
                        data-bs-toggle="tooltip" data-bs-placement="top" 
                        title="Tooltip on top">
                        Tooltip on top
                    </button>

                    <a href="#" class="btn btn-primary mt-1 float-lg-end">
                        <i class="fab fa-github"></i>
                        Repositorio
                    </a>
                </div>
              </div>
        </div>
    </div>

</section>