<div class="row">
    <div class="col-12 col-sm-4 ">
        <img [src]="urlImagen" class="img-fluid" alt="foto de perfil">
    </div>
    <div class="col-sm-8 col-12">
        <h4 class="fw-light animate__animated animate__fadeIn"  >
            Soy un desarrollador web junior siguiendo la ruta del stack MEAN e buscando mi primera
            oportunidad laboral.
            Soy esgresado de Analista programador y actualmente realizando un bootcamp
            de desarrollador full stack Javascript. Vivo en Santiago y tengo 25 años.

            <h5 class="mt-3" >Dominio de tecnologias</h5>
            <div style="display: block" class="mt-1"  >
                <canvas baseChart
                  [data]="barChartData"
                  [options]="barChartOptions"
                  [type]="barChartType">
                </canvas>
              </div>
        </h4>
</div>