<div class="row container-fluid">

    <h1 class="text-uppercase fw-bold display-5 animate__animated animate__fadeIn">
        <span class="text-green" >P</span>ortafolio <span class="text-green" >M</span>atías 
        <span class="text-green" >A</span>barca
    </h1>
    <h3 class="text-end fw-light text-green animate__animated animate__lightSpeedInRight animate__faster">Desarrollador Web JR</h3>
</div>

<div class="row">
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-body">

                <app-card></app-card>

            </div>
        </div>
    </div>
</div>