.column-left{
    background-color: var(--color-primario);
    height: 100%;
    min-height: 100vh;
}
.fondo-oscuro{
    background-color: var(--color-primario-oscuro);
    width: 100%;
    padding: .2rem;
}
.bg-verde{
    background-color: var(--color-primario);
}
section{
    background-color: #F3EFE0;
}
.rounded-foto{
    border-radius: 45%;
}
.list-item-padding-0{
    padding: 0;
}
.w-40{
    width: 40%;
}
.link-mio{
    color: var(--color-primario-oscuro);
    text-decoration: none;
}
p{
    padding: 0;
    margin: 0;
}