<section>
        <div class="row">

            <div class="col-4 px-0 column-left shadow">
                <h1 class="text-white text-center" >Matías Abarca Morales</h1>
                <div class="fondo-oscuro">
                    <h3>Informacion de contacto</h3>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item bg-verde">+569 88984972</li>
                    <li class="list-group-item bg-verde">matias.abarca2018@gmail.com</li>
                    <li class="list-group-item bg-verde">Santiago, Quinta Normal</li>
                </ul>
                <div class="fondo-oscuro">
                    <h3  >Habilidades</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-verde">JavaScript</li>
                    <li class="list-group-item bg-verde">Angular</li>
                    <li class="list-group-item bg-verde">Bootstrap</li>
                    <li class="list-group-item bg-verde">NodeJS</li>
                    <li class="list-group-item bg-verde">C#</li>

                </ul>

            </div>
            <div class="col-1">
                
            </div>
            <div class="col-7">
                <h1>hola</h1>

            </div>

        </div>


</section>
